---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/andyl/test1/issues?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YW5keWw6RnVybDRqNGo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1525649468'
      Etag:
      - W/"da17b71b8f7e81e1c9fec0b9d41857aa"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/andyl/test1/issues/4","repository_url":"https://api.github.com/repos/andyl/test1","labels_url":"https://api.github.com/repos/andyl/test1/issues/4/labels{/name}","comments_url":"https://api.github.com/repos/andyl/test1/issues/4/comments","events_url":"https://api.github.com/repos/andyl/test1/issues/4/events","html_url":"https://github.com/andyl/test1/issues/4","id":317239073,"number":4,"title":"bing","user":{"login":"andyl","id":90030,"avatar_url":"https://avatars3.githubusercontent.com/u/90030?v=4","gravatar_id":"","url":"https://api.github.com/users/andyl","html_url":"https://github.com/andyl","followers_url":"https://api.github.com/users/andyl/followers","following_url":"https://api.github.com/users/andyl/following{/other_user}","gists_url":"https://api.github.com/users/andyl/gists{/gist_id}","starred_url":"https://api.github.com/users/andyl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/andyl/subscriptions","organizations_url":"https://api.github.com/users/andyl/orgs","repos_url":"https://api.github.com/users/andyl/repos","events_url":"https://api.github.com/users/andyl/events{/privacy}","received_events_url":"https://api.github.com/users/andyl/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2018-04-24T13:57:21Z","updated_at":"2018-04-24T13:57:21Z","closed_at":null,"author_association":"OWNER","body":"bing
        bing"},{"url":"https://api.github.com/repos/andyl/test1/issues/3","repository_url":"https://api.github.com/repos/andyl/test1","labels_url":"https://api.github.com/repos/andyl/test1/issues/3/labels{/name}","comments_url":"https://api.github.com/repos/andyl/test1/issues/3/comments","events_url":"https://api.github.com/repos/andyl/test1/issues/3/events","html_url":"https://github.com/andyl/test1/issues/3","id":317204586,"number":3,"title":"bing","user":{"login":"andyl",[...]
- request:
    method: get
    uri: https://api.github.com/repos/andyl/test1/issues/comments?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YW5keWw6RnVybDRqNGo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1525649468'
      Etag:
      - W/"fdd05db273460043d76a1f05ccce5c7b"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/andyl/test1/issues/comments/383911049","html_url":"https://github.com/andyl/test1/issues/1#issuecomment-383911049","issue_url":"https://api.github.com/repos/andyl/test1/issues/1","id":383911049,"user":{"login":"andyl","id":90030,"avatar_url":"https://avatars3.githubusercontent.com/u/90030?v=4","gravatar_id":"","url":"https://api.github.com/users/andyl","html_url":"https://github.com/andyl","followers_url":"https://api.github.com/users/andyl/followers","following_url":"https://api.github.com/users/andyl/following{/other_user}","gists_url":"https://api.github.com/users/andyl/gists{/gist_id}","starred_url":"https://api.git[...]
- request:
    method: post
    uri: https://api.github.com/repos/andyl/test1/issues
    body:
      encoding: UTF-8
      string: '{"labels":[],"title":"bing","body":"bing bing"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YW5keWw6RnVybDRqNGo=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1525649468'
      Etag:
      - '"d0e12d99063e272621de504c4bb02657"'
      Location:
      - https://api.github.com/repos/andyl/test1/issues/5
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/andyl/test1/issues/5","repository_url":"https://api.github.com/repos/andyl/test1","labels_url":"https://api.github.com/repos/andyl/test1/issues/5/labels{/name}","comments_url":"https://api.github.com/repos/andyl/test1/issues/5/comments","events_url":"https://api.github.com/repos/andyl/test1/issues/5/events","html[...]
