---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/andyl/test1/issues?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YW5keWw6RnVybDRqNGo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4962'
      X-Ratelimit-Reset:
      - '1525649468'
      Etag:
      - W/"2bf68cbc05d82065024fd1ee3a84a365"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/andyl/test1/issues/5","repository_url":"https://api.github.com/repos/andyl/test1","labels_url":"https://api.github.com/repos/andyl/test1/issues/5/labels{/name}","comments_url":"https://api.github.com/repos/andyl/test1/issues/5/comments","events_url":"https://api.github.com/repos/andyl/test1/issues/5/events","html_url":"https://github.com/andyl/test1/issues/5","id":320635061,"number":5,"title":"bing","user":{"login":"andyl","id":90030,"avatar_url":"https://avatars3.githubusercontent.com/u/90030?v=4","gravatar_id":"","url":"https://api.github.com/users/andyl","html_url":"https://github.com/andyl","followers_url":"https://api.github.com/users/andyl/followers","following_url":"https://api.github.com/users/andyl/following{/other_user}","gists_url":"https://api.github.com/users/andyl/gists{/gist_id}","starred_url":"https://api.github.com/users/andyl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/andyl/subscriptions","organizations_url":"https://api.github.com/users/andyl/orgs","repos_url":"https://api.github.com/users/andyl/repos","events_url":"https://api.github.com/users/andyl/events{/privacy}","received_events_url":"https://api.github.com/users/andyl/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2018-05-06T22:31:17Z","updated_at":"2018-05-06T22:31:17Z","closed_at":null,"author_association":"OWNER","body":"bing
        bing"},{"url":"https://api.github.com/repos/andyl/test1/issues/4","repository_url":"https://api.github.com/repos/andyl/test1","labels_url":"https://api.github.com/repos/andyl/test1/issues/4/labels{/name}","comments_url":"https://api.github.com/repos/andyl/test1/issues/4/comments","events_url":"https://api.github.com/repos/andyl/test1/issues/4/events","html_url":"https://github.com/andyl/test1/issues/4","id":317239073,"number":4,"title":"bing","user":{"login":"andyl",[...]
- request:
    method: get
    uri: https://api.github.com/repos/andyl/test1/issues/comments?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YW5keWw6RnVybDRqNGo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1525649468'
      Etag:
      - W/"ed685c06514a74c8ef7412ba6ad848ca"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/andyl/test1/issues/comments/383911049","html_url":"https://github.com/andyl/test1/issues/1#issuecomment-383911049","issue_url":"https://api.github.com/repos/andyl/test1/issues/1","id":383911049,"user":{"login":"andyl","id":90030,"avatar_url":"https://avatars3.githubusercontent.com/u/90030?v=4","gravatar_id":"","url":"https://api.github.com/users/andyl","html_url":"https://github.com/andyl","followers_url":"https://api.github.com/users/andyl/followers","following_url":"https://api.github.com/users/andyl/following{/other_user}","gists_url":"https://api.github.com/users/andyl/gists{/gist_id}","starred_url":"https://api.git[...]
- request:
    method: patch
    uri: https://api.github.com/repos/andyl/test1/issues/comments/383911049
    body:
      encoding: UTF-8
      string: '{"body":"UPDATED COMMENT AT 2018-05-06 15:31:21 -0700"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YW5keWw6RnVybDRqNGo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit[...]
